{{ partial "header.html" . }}
<header class="masthead mini text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">About Us</h1>
            <h2 class="masthead-subheading mb-0">The history of our industry-leading program.</h2>
        </div>
    </div>
    <div id="particles-js"></div>
</header>
<div class="container">
    <section class="sec-about">
        <div class="row">
            <div class="col-md-6 col-12 title-block">
                <h3>A Leader of Education</h3>
                <p class="lead">At Cathay, we advocate for diversified education and new methods of learning.</p>
            </div>

            <div class="col-md-3 col-6 about-stat">
                <h6>Trusted By</h6>
                <h1 class="stat" data-aos="fade-up">1000+</h1>
                <span data-aos="fade-in" data-aos-delay="400">students and their families</span>
            </div>

            <div class="col-md-3 col-6 about-stat">
                <h6>Courses Taught By</h6>
                <h1 class="stat" data-aos="fade-up" data-aos-delay="200">60+</h1>
                <span data-aos="fade-in" data-aos-delay="800">experienced teachers</span>
            </div>
        </div>

        <div class="row text-center center-quote" data-aos="fade-up" data-aos-delay="400">
            The Cathay School of Rockville, MD endeavors to ensure that each day each child leaves happy and confident learner, each
            parent is satisfied with their child’s learning outcomes, and each team member is proficient in their field.
        </div>
    </section>

    <section class="sec-team">
        <div class="row">
            <div class="col-md-9 col-12 text-left title-block" data-aos="fade-in" data-aos-delay="700">
                <h3>Meet Our Team</h3>
                <p class="lead">Our administrative staff members who strived for the quality of our education</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12" data-aos="fade-up">
                <div class="text-center">
                    <img class="rounded img-fluid avatar" src="/img/staff/avery.png" />
                    <h3 class="lead">Ms. Avery Wan</h3>
                    <p>Principal</p>
                </div>
                <p>Graduated from the Sichuan Conservatory of Music, Ms. Wan has taught music to student of various ages and
                    experience for over 10 years. In 2010, Ms. Wan founded the Little Star Music Education (the professors
                    of Washington Cathay Future Center). This program offers students the opportunity to sing, act, and dance.
                    She is also a choir director and holds both group lessons and private lessons, providing her students
                    with the professional vocal training and performance skills needed to help them to reach their full potential.
                    Within a few years, the program has grown to include over a hundred students, many of whom have gone
                    on to perform in a variety of different concerts, performances, and competitions within the Washington
                    metropolitan area. Aside from Washington Cathay Future Center, Ms. Wan has been involved in many successful
                    musical events and competitions.</p>
            </div>
            <div class="col-md-6 col-12" data-aos="fade-up">
                <div class="text-center">
                    <img class="rounded img-fluid avatar" src="/img/staff/juline.png" />
                    <h3 class="lead">Mrs. Juline McLean</h3>
                    <p>Early Childhood Director</p>
                </div>
                <p>As an experienced Early Childhood Professional, Juline McLean comes to Cathay with a Masters of Education
                    in Curriculum & Instruction with a focus in Teacher Leadership and Early Childhood Education. With an
                    admiration for the English language, Juline has taught English overseas in the public school and orphanages
                    in East Asia. When she returned to America, she worked as a Preschool and later Pre-Kindergarten teacher
                    for an elite private school. Years later, she fell in love with working behind the scenes of education
                    instead of the forefront as an educator. She believes that through the means of education that is effectively
                    designed and tailored to children, children can grow to have the opportunity to positively affect the
                    world, having been taught to do so. Juline plays an intricate part in the outcome of such belief by enhancing
                    a learning environment that allows students to develop and grow through adequate teacher development
                    and implementation of our curriculum here at the Cathay School.</p>
            </div>
        </div>
    </section>
</div>
{{ partial "footer.html" . }}