body {
  font-family: 'Futura';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btn-lg {
  text-transform: uppercase;
  padding: 1.0rem 1.8rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btn-sm {
  text-transform: uppercase;
  padding: .8rem 1.4rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #6DAEDB 0%, #2892D7 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 3rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1rem;
  font-weight: normal !important;
  margin-top: .5rem;
}

header.masthead .masthead-content .masthead-subheading .emphasis {
  font-style: italic;
  text-decoration: underline;
}

header.masthead .masthead-content img.logo {
  width: 30%;
  margin-bottom: 1em;
}

header.masthead .bg-circle {
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #2892D7 0%, #6DAEDB 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 5rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 3rem;
    font-weight: normal !important;
  }
}

header.masthead.mini {
  padding-top: calc(3rem + 55px);
  padding-bottom: 3rem;
}

header.masthead.mini .masthead-content .masthead-heading {
  font-size: 3rem;
}

header.masthead.mini .masthead-content .masthead-subheading {
  font-size: 1.5rem;
  font-weight: normal !important;
}

.bg-primary {
  background-color: #2892D7 !important;
}

.btn-primary {
  background-color: #2892D7;
  border-color: #2892D7;
  color: white!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #2075ac !important;
  border-color: #2075ac !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 146, 215, 0.5);
}

.btn-secondary {
  background-color: #6DAEDB;
  border-color: #6DAEDB;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #4497d1 !important;
  border-color: #4497d1 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(109, 174, 219, 0.5);
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 12px;
}

.btn-light {
  color: #4497d1 !important;
}

.content {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

form .row {
  margin-bottom: 25px;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#particles-js canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

h1.stat {
  margin-bottom: 0;
  color: #6DAEDB;
}

.center-quote {
  margin: 2rem 8.5rem 2rem 8.5rem;
  font-size: 1.4rem;
}

@media (max-width: 992px) {
  .center-quote {
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
  }
}

.title-block.left {
  border-left: solid 5px #6DAEDB;
}

.title-block.right {
  border-right: solid 5px #6DAEDB;
}

.avatar {
  width: 7.5rem;
  margin: 5px;
}

.markdown {
  font-size: 1.3rem;
}

.markdown strong {
  font-weight: 600;
  color: #6DAEDB;
}

footer {
  color: #1e1e1e;
}

.hint {
  color: lightslategray;
  line-height: .8!important;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.rounded {
  border-radius: 50%;
}

.dropdown-menu {
  margin-left: 1rem!important;
  background-color: #fff;
  border: none!important;
  padding: 0!important;
}

.nav-link.dropdown-item {
  color: #6DAEDB!important;
}

.nav-link.dropdown-item:hover {
  background-color: transparent;
}

p {
  line-height: 1.7;
}

.markdown ul {
  line-height: 2;
}


#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  width: 100%;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 5px;

}

@media (min-width: 1000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.grecaptcha-badge {
  display: none;
}

footer p.desc {
  font-size: 1.2rem;
  font-weight: 700;
}

footer .social-icons a {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

a { 
  color: #6DAEDB;
  text-decoration: none!important;
}

.sec-about {
  margin-bottom: 0;
}