{{ partial "header.html" . }}
<header class="masthead mini text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">{{ .Title }}</h1>
            <h2 class="masthead-subheading mb-0">{{ .Params.Subtitle }}</h2>
        </div>
    </div>
    <div id="particles-js"></div>
</header>
<div class="container">
    <div class="content">
        <div class="markdown">
            {{ .Content }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}