<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://usebasin.com/f/884f5d0234a2/ahoy.js" async defer></script>
<script src="/js/particles.min.js"></script>
<script src="/js/navhide.min.js"></script>
<script src="/js/index.js"></script>