<!-- HTTPS -->

{{ if .Site.Params.forcehttps }}
<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>
{{ end }}

<!-- Icon -->
<link rel="shortcut icon" {{ if .Site.Params.faviconfile }} href="/{{ .Site.Params.faviconfile }}" {{ else }} href="/img/favicon.ico"
    {{ end }}>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/cathay-template.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">

<!-- Animation Library -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Handle case where JavaScript is disabled -->
<noscript>
    <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
    </style>
</noscript>

<noscript id="deferred-styles">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</noscript>