<meta charset="utf-8">
<title>
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if eq $url "/" }}
        {{ .Site.Title }}
    {{ else }}
        {{ if .Params.heading }} 
            {{ .Params.heading }} 
        {{ else }} 
            {{ if .Title }}
                {{ .Title }} | {{ .Site.Title }} 
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        {{ end }}
    {{ end }}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="The Cathay School offers industry-leading early education program for young children aged 3-5. At Cathay, your little ones will experience the future of educational excellence.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta itemprop="description" content="The Cathay School offers industry-leading early education program for young children aged 3-5. At Cathay, your little ones will experience the future of educational excellence.">
<meta itemprop="image" content="https://early.cathayfutureus.com/img/feature/1.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://early.cathayfutureus.com">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta property="og:description" content="The Cathay School offers industry-leading early education program for young children aged 3-5. At Cathay, your little ones will experience the future of educational excellence.">
<meta property="og:image" content="https://early.cathayfutureus.com/img/feature/1.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="The Cathay School offers industry-leading early education program for young children aged 3-5. At Cathay, your little ones will experience the future of educational excellence.">
<meta name="twitter:image" content="https://early.cathayfutureus.com/img/feature/1.jpg">

<!-- Google Structured Data / Schema -->
<script type=’application/ld+json’>
{
    "@context": "http://schema.org",
    "@type": "ChildCare",
    "name": "The Cathay School",
    "url": "https://early.cathayfutureus.com",
    "logo": "https://early.cathayfutureus.com/img/logo-fc.png",
    "image": "https://early.cathayfutureus.com/img/feature/1.jpg",
    "description": "The Cathay School offers industry-leading early education program for young children aged 3-5. At Cathay, your little ones will experience the future of educational excellence.",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "9400 Key West Ave.",
        "addressLocality": "Rockville",
        "addressRegion": "MD",
        "postalCode": "20850",
        "addressCountry": "United States"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": "39.1034968",
        "longitude": "-77.192279"
    },
    "hasMap": "https://www.google.com/maps/place/Washington+Cathay+Future+Center/@39.1034968,-77.1945318,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7cd5486ae9719:0x4fa101ed5fa9c180!8m2!3d39.1034927!4d-77.1923431",
    "telephone": "(301)978-3918",
    "priceRange": "$$"
}
</script>