{{ partial "header.html" . }}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0" data-aos="fade-in">Early Childhood Education</h1>
            <h2 class="masthead-subheading mb-0" data-aos="fade-in" data-aos-delay="200">The Future of Educational Excellence.</h2>
        </div>

        <div class="masthead-button-group" data-aos="fade-up" data-aos-delay="300">
            <a href="/tour" class="btn btn-white btn-xl mt-5">Book a Tour</a>&emsp;
            <a href="/enroll" class="btn btn-alt btn-lg mt-5">Enroll Now</a>
        </div>
    </div>
    <div id="particles-js"></div>
</header>
<div class="container">
    <section class="sec-about">
        <div class="row">
            <div class="col-md-10 col-12 title-block">
                <h3>
                    <i class="far fa-envelope-open"></i>&ensp;A Letter From the Principal</h3>
                <p class="lead">A personal welcome to all families of The Cathay School.</p>
            </div>
            <div class="col-md-2 col-12 title-block">
                <a href="/about/welcome" class="btn btn-primary btn-sm">View Letter »</a>
            </div>
        </div>
    </section>
</div>

<div style="background: linear-gradient(-64deg, rgba(37, 183, 117, .2) 0%, rgba(109, 174, 219, .2) 100%)">
    <div class="feature jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div class="col-md-6 flex-md-first">
                    <h2 class="font-weight-bold">
                        Research-based & Comprehensive Curriculum
                    </h2>
                    <p class="my-3 feature-text">
                        The Cathay School uses the Creative Curriculum
                        <sup>®</sup> for Preschool. The Creative Curriculum is a research-based, comprehensive collection of knowledge
                        building and daily practice resources that explains the “what”, “why”, and “how” of learning.
                    </p>
                    <a href="/curriculum/about" class="my-4 btn btn-sm btn-light">Our Curriculum »</a>
                </div>
                <div class="col-md-1 flex-md-last">
                </div>
                <div class="col-md-5 align-self-center" style="text-align: right;text-align:-webkit-right;text-align:-moz-right;">
                    <img src="/img/feature/1.jpg" class="d-block img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="feature jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div class="col-md-5 align-self-center">
                    <img src="/img/feature/2.jpg" class="d-block img-fluid">
                </div>
                <div class="col-md-1 flex-md-last">
                </div>
                <div class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">
                        Professional Instructors
                    </h2>
                    <p class="my-4 feature-text">
                        Our instructors are all professionally trained and evaluated so they can better assist your kids in their process of learning.
                        With years of experience in education and child development, we are able to provide your children with the best experiences.
                    </p>
                    <div class="text-right">
                        <a href="/about/background" class="my-4 btn btn-sm btn-light ">Our Background »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature jumbotron jumbotron-fluid feature">
            <div class="container">
                <div class="row justify-content-between text-center text-md-left">
                    <div class="col-md-6 flex-md-first">
                        <h2 class="font-weight-bold">
                            Best Facility of the Region
                        </h2>
                        <p class="my-3 feature-text">
                                Located right at the intersection of Key West Avenue and Shady Grove Road, the Cathay School has one of the best facilities 
                                for early education. The facility is easy to access, safe for young children, and supervised at all times.
                        </p>
                        <a href="/about/background#facility" class="my-4 btn btn-sm btn-light">Schedule a Visit »</a>
                    </div>
                    <div class="col-md-1 flex-md-last">
                    </div>
                    <div class="col-md-5 align-self-center" style="text-align: right;text-align:-webkit-right;text-align:-moz-right;">
                        <img src="/img/facility/1.jpg" class="d-block img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="text-center center-quote">
            The Cathay School of Rockville, MD endeavors to ensure that each day each child leaves happy and confident learner, each
            parent is satisfied with their child’s learning outcomes, and each team member is proficient in their field.
    </div>
</div>

{{ partial "footer.html" . }}