{{ partial "header.html" . }}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0" data-aos="fade-in">Early Childhood Education</h1>
            <h2 class="masthead-subheading mb-0" data-aos="fade-in" data-aos-delay="200">The Future of Educational Excellence.</h2>
        </div>

        <div class="masthead-button-group" data-aos="fade-up" data-aos-delay="300">
            <a href="/tour" class="btn btn-light btn-xl rounded-pill mt-5">Book a Tour</a>&emsp;
            <a href="/enroll" class="btn btn-primary btn-lg rounded-pill mt-5">Enroll Now</a>
        </div>
    </div>
    <div id="particles-js"></div>
</header>
<div class="container">
    <section class="sec-about">
        <div class="row">
            <div class="col-md-10 col-12 title-block">
                <h3>A Letter From the Principal</h3>
                <p class="lead">A personal welcome to all families of The Cathay School.</p>
            </div>
            <div class="col-md-2 col-12 title-block">
                <a href="/about/welcome" class="btn btn-primary btn-sm rounded-pill">View Letter »</a>
            </div>
        </div>
    </section>
</div>

<div class="jumbotron jumbotron-fluid feature" id="feature-first">
    <div class="container my-5">
        <div class="row justify-content-between text-center text-md-left">
            <div class="col-md-6 flex-md-first">
                <h2 class="font-weight-bold">
                    Sample Title
                </h2>
                <p class="my-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum
                </p>
                <a href="https://hackclub.com/?ref=hackchicago" class="my-4 font-weight-bold about-link">Our Curriculum »</a>
            </div>
            <div class="col-md-6 align-self-center" style="text-align: right;text-align:-webkit-right;text-align:-moz-right;">
                <img src="https://placekitten.com/800/600" class="d-block img-fluid" width="400">
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}